
.zixun{
  opacity: 0;
  filter: blur(5px);
  transition: all 2s;
  transform:translateY(50%) ;
} 
.under-zixun{
  opacity: 0;
  filter: blur(5px);
  transition: all 1.6s;
  transform:translateY(50%) ;
} 
.gonggao
{
  opacity: 0;
  filter: blur(5px);
  transition: all 1.3s;
  transform:translateY(50%) ;
} 
.pic{
  opacity: 0;
  filter: blur(5px);
  transition: all 2s;
  transform:translateY(50%) ;
} 

.top-gonggao{
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
  transform:translateY(50%) ;
} 

.active{
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
} 